@model IEnumerable<K_Bridge.Models.Post>

@foreach (var post in ViewBag.Posts)
{
    <div class="row mt-2" onclick="window.location.href='/Post/Details?post=@post.ID'">
        <div class="col-2 d-flex flex-column justify-content-center">
            <div class="newest-card-stat py-2">@(post.Replies?.Count ?? 0) Câu trả lời</div>
            <div class="newest-card-stat py-2">@post.ViewCount Lượt xem</div>
        </div>
        <div class="col-10">
            <div class="d-flex">
                <div class="newest-card-title">@post.Title</div>
                <div class="newest-card-tag px-3 mx-3"
                     style="background: @GetForumColorHelper.GetForumBackgroundColor(post.Topic.Forum.ID);
                                    color:@GetForumColorHelper.GetForumColor(post.Topic.Forum.ID)">
                    @post.Topic.Forum.TagName
                </div>
            </div>
            <div class="newest-card-des">
                <div class="reply-content">
                    @Html.Raw(post.Content)
                </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
                <img src="/img/avatar_default.png" class="rounded-circle" alt="Avatar" width="30" height="30">
                <div class="newest-card-username mx-2">@post.User.Username hỏi @GetTimeAgoHelper.GetTimeAgo(post.CreatedAt)</div>
            </div>
        </div>
        <hr class="mt-2">
    </div>
}
