@{
    bool isLoggedIn = ViewBag.IsLoggedIn ?? false;
    var noti = ViewBag.Notifications;
    var unreadCount = ViewBag.UnreadCount;
}
@model LoginRegisterViewModel

<div class="container-fluid py-3 px-5 w-100">
    <div class="row align-items-center">
        <div class="col-auto col-md-2">
            <button class="d-flex align-items-center" onclick="window.location.href='/'">
                <img class="img-fluid" style="max-height: 40px;" src="/img/Logo.png" alt="Logo">
                <span class="ms-2 kbridge-text text-color-layout fs-4 d-none d-md-inline">K-BRIDGE</span>
            </button>
        </div>
        <div class="col col-md-7 d-flex justify-content-center">
            <div class="input-group rounded-2 border border-main-color-layout px-2" style="max-width: 420px;">
                <input type="text" class="focus flex-grow-1 bg-transparent text-color-layout text-white"
                       placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="button-addon2"
                       id="searchInput">
                <button class="btn btn-main-color-header" type="button" id="button-addon2">
                    <img src="/img/iconSearch.png" alt="Search Icon">
                </button>
            </div>
        </div>
        <div class="col-auto col-md-3 mt-3 mt-md-0 d-flex justify-content-center">
            @if (!isLoggedIn)
            {
                <div class="align-items-center d-flex justify-content-between" style="width: 85%; max-width:300px;">
                    <button type="button" class="btn px-2 px-md-4 py-1 btn-account-sign"
                            style="width:48%;" data-bs-toggle="modal" data-bs-target="#signupModal">
                        Đăng ký
                    </button>
                    <button type="button" class="btn px-2 px-md-4 py-1 btn-account-log" style="width:48%;" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</button>
                </div>
            }
            else
            {
                <div class="position-relative" style="margin-right: 20px;">
                    <button class="p-2 bg-main-color-logo border-main-color-layout rounded-3" id="notificationButton">
                        <img src="~/img/notification50.png" class="img-fluid" alt="Notifications" width="25" height="25">
                    </button>
                    <div class="position-absolute fs-12 translate-middle badge rounded-circle bg-danger"
                         id="notificationCount" style="left:40px;">
                        @unreadCount
                    </div>
                    <div id="notificationList" class="dropdown-menu dropdown-menu-end p-0 "
                         style="display: none; width: 300px; max-height: 400px; overflow-y: auto; background-color:#FDE7D2; cursor: pointer;">
                        <div class="p-2 border-bottom">
                            <h6 class="mb-0">Thông báo</h6>
                        </div>
                        <div id="notificationItems">
                            @foreach (var notification in noti)
                            {
                                <div class="notification-item @(!notification.IsRead ? "fw-bold" : "")" data-id="@notification.ID" data-message="@notification.Message">
                                    <div class="notification-content">
                                        <div class="notification-title">@notification.Title</div>
                                        <div class="notification-time d-flex justify-content-end">@notification.CreatedAt.ToString("dd/MM/yy hh:mm")</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center mx-3 pointer-event" onclick="window.location.href='/UserProfile?id=@ViewBag.UserID'">
                    @if (ViewBag.CurrentUser.Avatar != null)
                    {
                        <img src="~/avatars/@ViewBag.CurrentUser.Avatar" alt="avatar" class="me-2 rounded-3" style="width: 40px; height: 40px;" />
                    }
                    else
                    {
                        <img src="/img/avatar_default.png" alt="avatar" class="me-2 rounded-3" style="width: 40px; height: 40px;" />
                    }
                    <div class=" text-color-background mb-1 fw-bold flex-grow-1 pe-none">@ViewBag.UsernameLoggedIn</div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal SignUp -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-main-color-background p-1" style="border-radius: 20px;">
            <div class="modal-header border-0">
                <div class="modal-title" id="signupModalLabel">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" style="max-height: 40px;" src="/img/Logo.png" alt="Logo">
                        <span class="ms-2 kbridge-text text-color-header fs-4 d-none d-md-inline">K-BRIDGE</span>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p class="text-color-logo fs-12">
                    Bằng việc nhấn vào nút "Đăng ký", bạn đã đồng ý với các <a href="#">Điều khoản dịch vụ</a> của chúng tôi và xác nhận rằng bạn đã đọc
                    <a href="#">Chính sách bảo mật</a> của chúng tôi.
                </p>
            </div>

            <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
                <div id="liveToastSignUp" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body text-color-background fw-bold text-center rounded-bottom rounded-3" style="background-color: #493422; border: 2px solid #FFF0E6;">
                        <div id="registerValidationSummary"></div>
                    </div>
                </div>
            </div>
            <form id="registerForm">
                <div class="modal-body py-0">
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="Username">Tên đăng nhập</label>
                        <input type="type" class="form-control border-main-color-logo border  focus text-color-header rounded-3 mt-2"
                               id="Username" asp-for="RegisterModel.Username" placeholder="abc123" minlength="4" required>
                    </div>

                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="email">Email</label>
                        <input type="email" class="form-control border-main-color-logo border  focus text-color-header rounded-3 mt-2"
                               id="email" asp-for="RegisterModel.Email" placeholder="daylaemail@gmail.com" required>
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control border-main-color-logo border  focus text-color-header rounded-3 mt-2"
                               id="password" asp-for="RegisterModel.Password" minlength="8" required
                               placeholder="Mật khẩu chứa ít nhất 8 ký tự, một chữ cái và một chữ số">
                    </div>

                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="confirmPassword">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control border-main-color-logo border  focus text-color-header rounded-3 mt-2"
                               id="confirmPassword" asp-for="RegisterModel.ConfirmPassword" minlength="8" required
                               placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="form-group mb-4 text-color-header">
                        <button type="submit" id="liveToastBtnSignUp" class="d-block px-3 py-2 fw-bold rounded-3 btn-post fw-bold" style=" width: 100%;">Đăng ký</button>
                        <p class="py-2 fs-12">Đã có tài khoản? <a href="#" id="switchToLogin">Đăng nhập</a> ngay</p>
                    </div>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-main-color-background p-1" style="border-radius: 20px;">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="loginForm">
                <div class="modal-body py-0">
                    <h5 class="modal-title" id="signupModalLabel">
                        <div class="d-flex align-items-center flex-column mb-4">
                            <img class="img-fluid h-75" src="/img/Logo_75.png" alt="Logo">
                            <span class="ms-2 kbridge-text text-color-header fs-4 d-none d-md-inline">K-BRIDGE</span>
                        </div>
                    </h5>

                    <div class="position-fixed top-0 end-0 rounded-3 m-2 mt-4" style="z-index: 11;">
                        <div id="liveToastLogin" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-body text-color-background fw-bold text-center rounded-bottom rounded-3" style="background-color: #493422; border: 2px solid #FFF0E6;">
                                <div id="loginValidationSummary"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="LoginUser">Email/Tên đăng nhập</label>
                        <input type="type" class="form-control  border border-main-color-logo focus text-color-header rounded-2 mt-2"
                               id="LoginUser" asp-for="LoginModel.User" required placeholder="daylaemail@gmail.com">
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="LoginPassword">Mật khẩu</label>
                        <input type="password" class="form-control  border border-main-color-logo focus text-color-header rounded-2 mt-2"
                               id="LoginPassword" asp-for="LoginModel.Password" required placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="submit" id="liveToastBtnLogin" class="d-block px-3 py-2 fw-bold rounded-3 btn-post fw-bold" style=" width: 100%;">Đăng nhập</button>
                    </div>
                </div>
            </form>
            <div class="p-3 d-flex justify-content-between">
                <p class="mt-2 text-color-logo fs-12">Chưa có tài khoản? <a href="#" id="switchToSignup">Đăng ký</a> ngay</p>
                <p class="mt-2 text-color-logo fs-12"><a href="/ForgetPassword">Quên mật khẩu? </a> </p>
            </div>
        </div>
    </div>
</div>

@*Read notification modal*@
<div class="modal fade modal-new-post-overall rounded-3" id="notificationUserModal" tabindex="-1"
     aria-labelledby="notificationUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="border-radius: 20px;">
        <div class="modal-content">
            <div class="modal-header modal-new-post-header py-2 px-3">
                <h5 class="modal-title text-uppercase" id="notificationUserModalLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-main-color-layout d-flex flex-column py-4">
                <div id="notificationUserDetail" class="text-color-header justify-content-center flex-column m-auto fs-4"
                     style="min-height:60px;">
                </div>
            </div>
            <div class="d-flex justify-content-center bg-main-color-layout pb-4 rounded-bottom">
                <button type="button" class="rounded-2 px-3 py-1 btn-confirm me-1"
                        data-bs-dismiss="modal" style="min-width:148px;">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Sccipt cho đăng ký/ đăng nhập -->
<script>
    var signupModal;
    var loginModal;
    document.addEventListener('DOMContentLoaded', function () {
        signupModal = new bootstrap.Modal(document.getElementById('signupModal'));
        loginModal = new bootstrap.Modal(document.getElementById('loginModal'));

        if (document.getElementById('signupModal').classList.contains('show')) {
            signupModal.hide();
        }
        if (document.getElementById('loginModal').classList.contains('show')) {
            loginModal.hide();
        }

        document.getElementById('switchToLogin').addEventListener('click', function (e) {
            e.preventDefault();
            signupModal.hide();
            loginModal.show();
        });

        document.getElementById('switchToSignup').addEventListener('click', function (e) {
            e.preventDefault();
            loginModal.hide();
            signupModal.show();
        });
    });

    document.getElementById('signupModal').addEventListener('hidden.bs.modal', function () {
        document.getElementById('registerForm').reset();
        document.getElementById('registerValidationSummary').style.display = 'none';
        document.getElementById('registerValidationSummary').innerHTML = '';
    });

    document.getElementById('loginModal').addEventListener('hidden.bs.modal', function () {
        document.getElementById('loginForm').reset();
        document.getElementById('loginValidationSummary').style.display = 'none';
        document.getElementById('loginValidationSummary').innerHTML = '';
    });

    // Xử lý đăng ký
    document.getElementById('registerForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        var password = formData.get('RegisterModel.Password');

        // Kiểm tra mật khẩu có chứa ít nhất một chữ cái và một số
        if (!/(?=.*[A-Za-z])(?=.*\d)/.test(password)) {
            var errorSummary = document.getElementById('registerValidationSummary');
            errorSummary.innerHTML = '<div>Mật khẩu chứa ít nhất một chữ cái và một số.</div>';
            errorSummary.style.display = 'block';
            showToast('liveToastSignUp');
            return;
        }

        fetch('/Home/Register', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                var errorSummary = document.getElementById('registerValidationSummary');
                errorSummary.innerHTML = ''; // Xóa nội dung cũ

                if (data.success) {
                    signupModal.hide();
                    document.getElementById('registerForm').reset();
                    loginModal.show();
                } else {
                    if (data.errors && data.errors.length > 0) {
                        var div = document.createElement('div');
                        data.errors.forEach(function (error) {
                            div.textContent = error;
                        });
                        errorSummary.appendChild(div);
                        errorSummary.style.display = 'block';
                        showToast('liveToastSignUp');
                    } else {
                        errorSummary.innerHTML = '<div>Có lỗi xảy ra trong quá trình đăng ký!!</div>';
                        errorSummary.style.display = 'block';
                        showToast('liveToastSignUp');
                    }
                }
            });
    });
    // Xử lý đăng nhập
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        fetch('/Home/Login', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    loginModal.hide();
                    document.getElementById('loginForm').reset();
                    window.location.reload();
                } else {
                    var errorSummary = document.getElementById('loginValidationSummary');
                    errorSummary.innerHTML = ''; // Xóa nội dung cũ

                    if (data.errors && data.errors.length > 0) {
                        var div = document.createElement('div');
                        data.errors.forEach(function (error) {
                            div.textContent = error;
                        });
                        errorSummary.appendChild(div);
                        errorSummary.style.display = 'block';
                        showToast('liveToastLogin');
                    } else {
                        errorSummary.innerHTML = '<div>Có lỗi xảy ra trong quá trình đăng nhập!!</div>';
                        errorSummary.style.display = 'block';
                        showToast('liveToastLogin');
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
    function showToast(toastId) {
        var toastElement = document.getElementById(toastId);
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
    }
</script>

<!-- Sccipt cho chức năng tìm kiếm -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var searchButton = document.getElementById('button-addon2');
        var searchInput = document.getElementById('searchInput');

        // Thêm sự kiện click cho nút tìm kiếm
        searchButton.addEventListener('click', function () {
            var searchKey = searchInput.value.trim();
            if (searchKey) {
                window.location.href = '/Search?key=' + encodeURIComponent(searchKey);
            }
        });

        // Thêm sự kiện keypress để xử lý khi nhấn Enter trong ô tìm kiếm
        searchInput.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                var searchKey = searchInput.value.trim();
                if (searchKey) {
                    window.location.href = '/Search?key=' + encodeURIComponent(searchKey);
                }
            }
        });
    });


</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var notificationCount = 3;
        var notificationCountElement = document.getElementById('notificationCount');
        var notificationList = document.getElementById('notificationList');
        var notificationItems = document.getElementById('notificationItems');
        var notificationButton = document.getElementById('notificationButton');

        notificationButton.addEventListener('click', function (event) {
            event.stopPropagation(); // Ngăn sự kiện click lan ra document
            if (notificationList.style.display === 'none') {
                notificationList.style.display = 'block';
            } else {
                notificationList.style.display = 'none';
            }
        });

        // Đóng danh sách thông báo khi click bên ngoài
        document.addEventListener('click', function (event) {
            if (!notificationButton.contains(event.target) && !notificationList.contains(event.target)) {
                notificationList.style.display = 'none';
            }
        });

        notificationItems.addEventListener('click', function (event) {
            var notificationItem = event.target.closest('.notification-item');
            if (notificationItem) {
                var notificationId = notificationItem.getAttribute('data-id');
                var notificationTitle = notificationItem.querySelector('.notification-title').textContent;
                var notificationMessage = notificationItem.getAttribute('data-message');

                // Update modal content
                document.getElementById('notificationUserDetail').textContent = notificationMessage;
                document.getElementById('notificationUserModalLabel').textContent = notificationTitle;

                // Show modal
                var notificationModal = new bootstrap.Modal(document.getElementById('notificationUserModal'));
                notificationModal.show();

                // Mark notification as read
                fetch('/Notification/MarkAsRead?id=' + notificationId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': '@Html.AntiForgeryToken()'
                    },
                    body: JSON.stringify({ id: notificationId })
                }).then(response => response.json()).then(data => {
                    if (data.success) {
                        notificationItem.classList.remove('fw-bold');
                        // Update notification count
                        var notificationCountElement = document.getElementById('notificationCount');
                        var currentCount = parseInt(notificationCountElement.textContent);
                        if (currentCount > 0) {
                            notificationCountElement.textContent = currentCount - 1;
                        }
                    }
                });
            }
        });
    });
</script>