@page
@model K_Bridge.Pages.Admin.Manager.ListModel
@{
    ViewData["Title"] = "Quản trị viên";
}
<div class="row account-navigate mt-3 px-5 align-items-center ">
    <div class="col-3 d-flex justify-content-star">
        <img src="/img/icon_dashboard_50_dark.png"
             onclick="window.location.href='/Admin/Dashboard'"
             class="account-navigate-icon mt-2 custom-cursor-pointer" alt="Tổng quan">
        <img src="/img/icon_arrow_right_50_dark.png" class="mx-4 mt-2"
             alt="Tổng quan" width="10" height="20">
        <div class="account-navigate-text custom-cursor-pointer">
            Tài khoản quản trị
        </div>
    </div>
    <div class="col-9">
    </div>
</div>
<div class="row mt-3 px-5">
    <div class="col-3">
        <div class="account-title">Tài khoản quản trị</div>
        <div class="account-subtitle">Quản lý tài khoản quản trị</div>
    </div>
    <div class="col-9 d-flex justify-content-end align-items-center custom-cursor-pointer">
        <div class=" account-create-button px-4 h-75 d-flex align-items-center" onclick="window.location.href='/Admin/Managers/Create'">
            + Tạo tài khoản
        </div>
    </div>
</div>
<div class="row px-5">
    <table class="account-table table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên đăng nhập</th>
                <th scope="col">Email</th>
                <th scope="col">Vai trò</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Admin_Accounts)
            {
                <tr>
                    <th scope="row">@account.ID</th>
                    <td>@account.Username</td>
                    <td>@account.Email</td>
                    <td>
                        @if (account.Role == "Mgr")
                        {
                            <span>Quản lý</span>
                        }
                        else if (account.Role == "Emp")
                        {
                            <span>Quản trị</span>
                        }
                        else
                        {
                            <span>Chưa có</span>
                        }
                    </td>
                    <td>
                        @if (account.Status == "Active")
                        {
                            <span>Đang hoạt động</span>
                        }
                        else if (account.Status == "Inactive")
                        {
                            <span>Tạm khóa</span>
                        }
                        else
                        {
                            <span>Không xác định</span>
                        }
                    </td>
                    <td>
                        <div>
                            <button class="account-table-edit-btn" onclick="window.location.href='/Admin/Managers/Edit?id=@account.ID'">
                                <img src="/img/icon_edit_50.png" alt="Chỉnh sửa" width="20" height="20">
                            </button>
                            @if (account.Status == "Active")
                            {
                                <button class="account-table-delete-btn"
                                        type="button"
                                        data-bs-toggle="modal" data-bs-target="#lockModal@(account.ID)">
                                    <img src="/img/icon_lock_50.png" alt="Khoá" width="25" height="25">
                                </button>
                            }
                            else
                            {
                                <button class="account-table-delete-btn"
                                        type="button"
                                        data-bs-toggle="modal" data-bs-target="#unlockModal@(account.ID)">
                                    <img src="/img/icon_unlock_50.png" alt="Mở khoá" width="25" height="25">
                                </button>
                            }
                        </div>
                    </td>
                </tr>
                <!-- Lock Modal -->
                <div class="modal fade modal-new-post-overall rounded-3" style="overflow-x: hidden;" id="lockModal@(account.ID)" tabindex="-1"
                     aria-labelledby="lockModalLabel@(account.ID)" aria-hidden="true">
                    <div class="modal-dialog" style="border-radius: 20px;">
                        <div class="modal-content">
                            <div class="modal-header modal-new-post-header py-2 px-3">
                                <h5 class="modal-title text-uppercase" id="newPostModalLabel">Xác nhận</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-main-color-layout d-flex flex-column py-4">
                                <div class="text-color-header  justify-content-center flex-column m-auto" style="min-height:100px;">
                                    <p class="fs-3 text-color-header fw-bold m-0 mt-2">Bạn chắc chắn chứ?</p>
                                    <p class="text-color-headerfw-bold m-0 p-0">Xác nhận khoá tài khoản quản trị này!</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center bg-main-color-layout pb-4 rounded-bottom">
                                <button type="button" class="rounded-2 px-3 py-1 btn-confirm me-1" data-bs-dismiss="modal" style="min-width:148px;">Huỷ</button>
                                <form method="post">
                                    <button type="submit" class="rounded-2 px-3 py-1 btn-confirm ms-1" style="min-width:148px;" asp-page-handler="Delete" asp-route-id="@account.ID">
                                        Khoá
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unlock Modal -->
                <div class="modal fade modal-new-post-overall rounded-3" style="overflow-x: hidden;" id="unlockModal@(account.ID)" tabindex="-1"
                     aria-labelledby="unlockModalLabel@(account.ID)" aria-hidden="true">
                    <div class="modal-dialog" style="border-radius: 20px;">
                        <div class="modal-content">
                            <div class="modal-header modal-new-post-header py-2 px-3">
                                <h5 class="modal-title text-uppercase" id="unlockModalLabel@(account.ID)">Xác nhận</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-main-color-layout d-flex flex-column py-4">
                                <div class="text-color-header justify-content-center flex-column m-auto" style="min-height:100px;">
                                    <p class="fs-3 text-color-header fw-bold m-0 mt-2">Bạn chắc chắn chứ?</p>
                                    <p class="text-color-headerfw-bold m-0 p-0">Xác nhận mở khóa tài khoản quản trị này!</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center bg-main-color-layout pb-4 rounded-bottom">
                                <button type="button" class="rounded-2 px-3 py-1 btn-confirm me-1" data-bs-dismiss="modal" style="min-width:148px;">Huỷ</button>
                                <form method="post">
                                    <button type="submit" class="rounded-2 px-3 py-1 btn-confirm ms-1" style="min-width:148px;" asp-page-handler="Unlock" asp-route-id="@account.ID">
                                        Mở khóa
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

<div class="row px-5">
    <ul class="pagination justify-content-center m-0 p-0">
        <div class="d-flex account-paging">
            @foreach (var pages in Model.DisplayPages)
            {
                @if (pages == -1)
                {
                <li class="page-item disabled"><span class="page-link">...</span></li>
                }
                else if (pages == Model.PageIndex)
                {
                <li class="page-item active"><span class="page-link">@pages</span></li>
                }
                else
                {
                <li class="page-item"><a class="page-link" href="/Admin/Managers/List?pageIndex=@pages">@pages</a></li>
                }
            }
</div>
    </ul>
</div>
