@page "{id:int}"
@model K_Bridge.Pages.Admin.Forums.Topics.ListModel
@{
    ViewData["Title"] = @Model.Topic.Name;

}

<div class="row account-navigate mt-3 px-5 align-items-center ">
    <div class="col-4 d-flex justify-content-star">
        <img src="/img/icon_dashboard_50_dark.png"
             onclick="window.location.href='/Admin/Dashboard'"
             class="account-navigate-icon mt-2 custom-cursor-pointer" alt="Tổng quan">
        <img src="/img/icon_arrow_right_50_dark.png" class="mx-4 mt-2 py-1"
             alt="Tổng quan" width="10" height="20">
        <div class="account-navigate-text custom-cursor-pointer"
             onclick="window.location.href='/Admin/Forums/List/@Model.ForumID'">
            @Model.ForumName
        </div>
        <img src="/img/icon_arrow_right_50_dark.png" class="mx-4 mt-2 py-1"
             alt="Tổng quan" width="10" height="20">
        <div class="account-navigate-text custom-cursor-pointer">
            @Model.Topic.Name
        </div>
    </div>
    <div class="col-9">
    </div>
</div>
<div class="row mt-3 px-5">
    <div class="col-12">
        <div class="account-title">@Model.Topic.Name</div>
        <div class="account-subtitle">Quản lý bài viết mục @Model.Topic.Name</div>
    </div>
</div>
<div class="row px-5">
    <table class="account-table table table-hover mt-3 text-color-logo">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Chủ bài viết</th>
                <th scope="col">Tên bài viết</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                var statusClass = post.Status switch
                {
                    "Pending" => "", // Yellow for pending
                    "Approved" => "background-color: rgba(0, 212, 98, 0.26)", // Green for accepted
                    "Rejected" => "background-color: rgba(255, 65, 65, 0.26)", // Red for rejected
                    "Blocked" => "background-color: #B8B8B8", // Grey for blocked
                    _ => "bg-light" // Default light color
                };

                var postStatus = post.Status switch
                {
                    "Pending" => "Chờ duyệt",
                    "Approved" => "Đã duyệt",
                    "Rejected" => "Đã từ chối",
                    "Blocked" => "Đã khoá",
                    _ => "Không xác định"
                };

                <tr style="@statusClass">
                    <th scope="row">@post.ID</th>
                    <td>@post.User.Username</td>
                    <td style="max-width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @post.Content.Substring(0, Math.Min(30, @post.Content.Split(' ').Length))
                        @if (@post.Content.Split(' ').Length > 30)
                        {
                            @:...
                        }
                    </td>
                    <td>
                        @postStatus
                    </td>

                    <td>@post.CreatedAt.ToString("dd/MM/yyyy")</td>
                    <td>@(post.UpdatedAt?.ToString("dd/MM/yyyy") ?? "")</td>
                    <td>
                        <a class="text-color-logo" href="/Admin/Forums/Topics/Posts/Preview/@post.ID?userId=@post.User.ID"> <u>Chi tiết</u> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row px-5">
    <ul class="pagination justify-content-center m-0 p-0">
        <div class="d-flex account-paging">
            @foreach (var pages in Model.DisplayPages)
            {
                @if (pages == -1)
                {
                <li class="page-item disabled"><span class="page-link">...</span></li>
                }
                else if (pages == Model.PageIndex)
                {
                <li class="page-item active"><span class="page-link">@pages</span></li>
                }
                else
                {
                <li class="page-item"><a class="page-link" href="/Admin/Forums/Topics/List/@Model.Topic.ID?pageIndex=@pages">@pages</a></li>
                }
            }
</div>
    </ul>
</div>

