@page "{id:int}"
@model K_Bridge.Pages.Admin.Forums.ListModel
@{
    ViewData["Title"] = Model.Forum.Name;
}

<div class="row account-navigate mt-3 px-5 align-items-center ">
    <div class="col-12 d-flex justify-content-star">
        <img src="/img/icon_dashboard_50_dark.png"
             onclick="window.location.href='/Admin/Dashboard'"
             class="account-navigate-icon mt-2 custom-cursor-pointer" alt="Tổng quan">
        <img src="/img/icon_arrow_right_50_dark.png" class="mx-4 mt-2 py-1"
             alt="Tổng quan" width="10" height="20">
        <div class="account-navigate-text custom-cursor-pointer "
             onclick="window.location.href='/Admin/Forums'">
            @Model.Forum.Name
        </div>
    </div>
</div>
<div class="row mt-3 px-5">
    <div class="col-9">
        <div class="account-title"> @Model.Forum.Name</div>
        <div class="account-subtitle">Quản lý diễn đàn @Model.Forum.Name </div>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center custom-cursor-pointer">
        <div class=" account-create-button px-4 h-75 d-flex align-items-center" 
        onclick="window.location.href='/Admin/Forums/Create?id=@Model.Forum.ID'">
            + Tạo chủ đề
        </div>
    </div>
</div>
<div class="row px-5">
    <table class="account-table table table-hover mt-3 text-color-logo">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cần phê duyệt</th>
                <th scope="col">Chủ đề</th>
                <th scope="col">Số lượng bài viết</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in Model.Topics)
            {
                // Đếm số lượng bài viết có trạng thái là "pending"
                var pendingPostsCount = topic.Posts.Count(p => p.Status == "Pending");

                <tr>
                    <th scope="row">@topic.ID</th>
                    <td>@pendingPostsCount</td>
                    <td>@topic.Name</td>
                    <td>
                        <div class="d-flex justify-content-evenly">
                            <div>@topic.Posts.Count</div>
                            <a class="text-color-logo" href="/Admin/Forums/Topics/List/@topic.ID"> <u>Chi tiết</u> </a>
                        </div>
                    </td>
                    <td>@topic.CreatedAt.ToString("dd/MM/yyyy")</td>
                    <td>@(topic.UpdatedAt?.ToString("dd/MM/yyyy")??"")</td>
                    <td>
                        <div>
                            <button class="account-table-edit-btn" onclick="window.location.href='/Admin/Forums/Edit?id=@topic.ID'">
                                <img src="/img/icon_edit_50.png" alt="Chỉnh sửa" width="20" height="20">
                            </button>
                            <button class="account-table-delete-btn">
                                <img src="/img/icon_lock_50.png" alt="Khoá" width="25" height="25">
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row px-5">
    <ul class="pagination justify-content-center m-0 p-0">
        <div class="d-flex account-paging">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Trước</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Sau</a>
        </li>
    </ul>
</div>